@(user: service.DemoUser, env: securesocial.core.RuntimeEnvironment, lobby: String)
@import securesocial.core.IdentityProvider
@import securesocial.core.AuthenticationMethod._
@import Http.Context.Implicit

@main("Welcome Page") {
	<div class="page-header">
		<h2><img src="@user.main.avatarUrl" alt="@user.main.fullName" width="40px" height="40px"/> Welcome @user.main.firstName</h2>
	</div>

	<div class="clearfix">
		<h2>Welcome to the Lobby "@lobby"</h2>
		
		Yay
		
		<hr>
		
		<a class="btn" href="/">Main-Menu</a>

		</span>
	</div>
}
