@(user: service.User, env: securesocial.core.RuntimeEnvironment, lobby: String)
@import securesocial.core.IdentityProvider
@import securesocial.core.AuthenticationMethod._
@import Http.Context.Implicit

@main("Welcome Page") {
	<link rel="import" href="/elements/memory-board.html">
	<div class="page-header">
		<h2><img src="@user.main.avatarUrl" alt="@user.main.fullName" width="40px" height="40px"/> Welcome @user.main.firstName.getOrElse{@user.main.fullName.getOrElse{User}}</h2>
	</div>

	<!-- <div class="clearfix"> -->
		<h2>This is the Lobby "@lobby"</h2>
		
		<memory-board id="memboard"></memory-board>
	<!-- </div> -->
	<script>
		function postLoadScript(src) {
			var script = document.createElement("script");
			script.src = "/assets/" + src;
			document.head.appendChild(script);
		}
	</script>
}