@(user: service.DemoUser, env: securesocial.core.RuntimeEnvironment, lobby: String)
@import securesocial.core.IdentityProvider
@import securesocial.core.AuthenticationMethod._
@import Http.Context.Implicit

<!DOCTYPE html>

<html>
    <head>
		<meta charset="utf-8">
        <title>Memory</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">

		<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
		<link rel="import" href="/elements/memory-board.html">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <span class="brand" >Memory</span>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top:30px">
			<div class="page-header">
				<h2><img src="@user.main.avatarUrl" alt="@user.main.fullName" width="40px" height="40px"/> Welcome @user.main.firstName.getOrElse{@user.main.fullName.getOrElse{User}}</h2>
			</div>

			<div class="clearfix">
				<h2>This is the Lobby "@lobby"</h2>
				
				<div class="cardfild">
					<memory-board id="memboard"></memory-board>
				</div>
				
				<hr>
				
				<a class="btn" href="/">Main-Menu</a>

				</span>
			</div>
        </div>
    </body>
</html>
